In [21]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [24]:
df1 = DataFrame(data=np.random.randint(0,100,size=(3,3)),index=['A','B','C'],columns=['a','b','c'])
df2 = DataFrame(data=np.random.randint(0,100,size=(3,3)),index=['A','B','D'],columns=['a','b','d'])

In [25]:
# pd.concat((df1,df1),axis=1) # 匹配级联

In [30]:
pd.concat((df1,df2),axis=0,join='inner')

    a   b
A  99  62
B  74  32
C  54  33
A  32  59
B  34  57
D  69  22

In [35]:
df1.drop_duplicates(keep='first')

    a   b   c
A  99  62  22
B  74  32  13
C  54  33  49

In [36]:
df = DataFrame({'item':['Apple','Banana','Orange','Banana','Orange','Apple'],
                'price':[4,3,3,2.5,4,2],
               'color':['red','yellow','yellow','green','green','green'],
               'weight':[12,20,50,30,20,44]})

df.groupby(by='item',axis=0)

In [37]:
df.groupby(by='item',axis=0).groups

{'Apple': Int64Index([0, 5], dtype='int64'),
 'Banana': Int64Index([1, 3], dtype='int64'),
 'Orange': Int64Index([2, 4], dtype='int64')}

In [39]:
mean_price_s = df.groupby(by='item',axis=0)['price'].mean()
dic = mean_price_s.to_dict() # 转为字典

In [40]:
dic

{'Apple': 3.0, 'Banana': 2.75, 'Orange': 3.5}